/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: white;
	font-family: sans-serif;
}




/* 2. Content ================================= */

.content {
	width: 80%;
	margin: 100px;
	p {
		line-height: 1.5em;
		margin-bottom: 0.5em;
		em {
			font-style: italic;
		}
	}
}